<h1>Welcome to the Magical World of Robots</h1>
  <h5>...also known as Robot World</h5>

<img src="https://robohash.org/robot-world.png">

<ul>
  <li><a href="/robots">Directory</a></li>
  <li><a href="/robots/new">Birth a Robot</a></li>
</ul>
