<form action="/robots/<%= @robot.name %>" method="post">
  <p>Edit</p>
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="robot[city]" value="<%=@robot.city%>">
  <input type="text" name="robot[state]" value="<%=@robot.state%>">
  <input type="text" name="robot[department]" value="<%=@robot.department%>">
  <input type="submit">
</form>
