<h1> Birth a Robot </h1>

<form action="/robots" method="post">
  <p>Make a Robot!</p>
    <p>Name:</p>
      <input type="text" name="robot[name]"/>
    <p>City:</p>
      <input type="text" name="robot[city]"/>
    <p>State:</p>
      <input type="text" name="robot[state]"/>
    <p>avatar:</p>
      <input type="text" name="robot[avatar]"/>
    <p>Birthdate:</p>
      <input type="text" name="robot[birthdate]"/>
    <p>Date Hired:</p>
      <input type="text" name="robot[date_hired]"/>
    <p>Department:</p>
      <input type="text" name="robot[department]"/>
    <p><input type="submit"/>
</form>
